@charset "utf-8";

/* === IMPORT === */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


/* === RESET | DEFAULT === */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

a {text-decoration: none;}
li {list-style: none;}

.container {
	width: 80%;
	margin: 0 auto;
}

body {
	background-color: rgb(23, 26, 29);
	color: rgb(255, 255, 255);
}


/* === HEADER === */

.header {
	background-color: rgb(255, 166, 96);
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}

.header .container .menu ul li {
	display: inline-block;
	margin-left: 20px;
}

.header .container .menu ul li a {
	color: rgb(23, 26, 29);
}


.header .container .icon-menu .line {
	width: 30px;
	height: 2px;
	background: rgb(255, 255, 255);
	display: block;
}

.header .container .icon-menu .line::before,
.header .container .icon-menu .line::after
{
	content: '';
	width: 30px;
	height: 2px;
	background: rgb(255, 255, 255);
	display: block;
	position: relative;
	top: -9px;
}

.header .container .icon-menu .line::after {
	top: 7px;
}

input[type="checkbox"],
.header .container .icon-menu {
	display: none;
}


label {
	cursor: pointer;
	height: 30px;
	display: flex;
	align-items: center;
}

/* === MEDIA QUERY === */


@media(max-width:  550px) {
	.header .container .icon-menu {
		display: inherit;
	}

	.header .container .menu.mobile {
		position: absolute;
		top: 70px;
		right: 9.5%;
		background: rgb(106, 109, 110);
		width: 250px;
		border-radius: 5px;
		z-index: 999;
	}

	.header .container .menu.mobile::before {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		background: red;
		background: rgb(106, 109, 110);
		transform: translate(220px, -7px) rotate(45deg);
	}

	.header .container .menu.mobile ul li {
		display: block;
		margin-left: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}

	.header .container .menu.mobile ul li a {
		color: #fff;
		padding: 15px;
		display: block;
	}

	input[type="checkbox"]:checked ~ .menu{
		display: none;
	}
}






/* === TEXT STYLE BANNER */

.text {
	position: relative;
	z-index: 1;
	top: 310px;
	left: 20px;
}

h1 {
	color: #fff;
	font-size: 25px;
	width: 300px;
	font-weight: 300;
	margin-bottom: 20px;
}

h2 {
	color: yellow;
	font-weight: 300;
}



/* 
	Author: Domingos Pedro Nkula

	GitHub: @domingos3000
	Instagram: @domingos_3000
	Facebook: /domingos3000
	Cell Number: +244 944895118
*/