/* === IMPORT === */

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


/* === RESET | DEFAULT === */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

a {text-decoration: none;}
li {list-style: none;}

.container {
	width: 80%;
	margin: 0 auto;
}

body {
	background-color: rgb(23, 26, 29);
	color: rgb(255, 255, 255);
}


/* === HEADER === */

.header {
	background-color: rgb(255, 166, 96);
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}

.header .container .menu ul li {
	display: inline-block;
	margin-left: 20px;
}

.header .container .menu ul li a {
	color: rgb(23, 26, 29);
}


.header .container .icon-menu .line {
	width: 30px;
	height: 2px;
	background: rgb(255, 255, 255);
	display: block;
}

.header .container .icon-menu .line::before,
.header .container .icon-menu .line::after
{
	content: '';
	width: 30px;
	height: 2px;
	background: rgb(255, 255, 255);
	display: block;
	position: relative;
	top: -9px;
}

.header .container .icon-menu .line::after {
	top: 7px;
}


input[type="checkbox"]:checked ~ .menu{
	display: none;
}

label {
	cursor: pointer;
	height: 30px;
	display: flex;
	align-items: center;
}